<%- layout('layouts/boilerplate') -%>
<form action="/new" method="post">
    <div class="input-group input-group-sm mb-3 mx-5 " style="width:35rem ;">
        <span class="input-group-text" id="inputGroup-sizing-sm">Polling unit Name</span>
        <input type="text" name="polling_unit_name" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>

    <div class="input-group input-group-sm mb-3 mx-5 " style="width:35rem ;">
        <span class="input-group-text" id="inputGroup-sizing-sm">Polling Unit  Number</span>
        <input type="text" name="polling_unit_number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>

    <div class="input-group input-group-sm mb-3 mx-5 " style="width:35rem ;">
        <span class="input-group-text" id="inputGroup-sizing-sm">Description</span>
        <input type="text" name="polling_unit_description" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>

    <button class="mx-5">Submit</button>
</form>
  
<!-- uniqueid:{
    type:Number
},
polling_unit_id:{
    type:Number,
},
ward_id:{
    type:Number
},
lga_id:{
    type:Number,
},
uniquewardid:{
   type:Number
},
polling_unit_number:{
    type:String
},
polling_unit_name:{
    type:String
},
polling_unit_description:{
    type:String
},
lat:{
    type:Number
},
long:{
    type:Number
},
entered_by_user:{
    type:String
},
user_ip_address:{
    type:String
}, -->