<%- layout('layouts/boilerplate') -%>
<h2 class="text-center my-5">New Polling Unit</h2>
<form action="/new" method="post">
   <div class="col-md-6 offset-md-3">
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Polling unit Name</span>
        <input type="text" name="polling_unit_name" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>

    <div class="input-group input-group-sm mb-3 " >
        <span class="input-group-text" id="inputGroup-sizing-sm">Polling Unit  Number</span>
        <input type="text" name="polling_unit_number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>

    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Description</span>
        <input type="text" name="polling_unit_description" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>

    <button class="">Submit</button>
   </div>
</form>